body {
  margin: 0;
  line-height: normal;
  font-family: var(--font-clash-display);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-clash-display: "Clash Display", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-dm-sans: "DM Sans";
  --font-nunito-sans: "Nunito Sans";
  --section_size: 660px;
  --main-heading: 2.5em;
  --color-tomato: #ff5555;
}
/* utility */
#features-svg,
.content > h1,
#advantages-1-svg,
#advantages-2-svg,
#lower-footer,
a,
#faq h1,
#testimonial-svg {
  position: relative;
}
a::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -2%;
  background-color: black;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
  transform-origin: center;
}
a:hover::before {
  transform: scaleX(1);
}
p {
  font-weight: 300;
  word-spacing: 0.2em;
}
h3,
h1 {
  text-transform: capitalize;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: min(1090px, 80vw);
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.bg-elips {
  position: absolute;
  z-index: -1;
  height: 20%;
  width: 40%;
  top: 10%;
  right: 30%;
  filter: blur(25px);
}
.bg-elips > div {
  height: 70%;
  width: 100%;
  border-radius: 50%;
  filter: blur(15px);
}
.bg-elips > div:last-child {
  transform: translate(-15%, -50%);
  background: #fde598;
  z-index: -2;
}
.bg-elips > div:first-child {
  background-color: var(--color-tomato);
}
.wrapper {
  display: flex;
  height: var(--section_size);
  gap: 20px;
}

/* header */
body > header {
  height: 3.5em;
  margin-top: 3.5em;
  display: flex;
  justify-content: space-between;
}
.download-btn {
  height: 100%;
  width: min(180px, 15vw);
  background-color: black;
  color: white;
  border-radius: 5px;
}
#icon {
  height: 35px;
  width: 20%;
}
#icon > svg {
  width: 100%;
  height: 100%;
}
.primary-links {
  width: min(535px, 80%);
  height: 100%;
  justify-content: space-between;
}
.links {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
a {
  color: inherit;
  text-decoration: none;
}

/* main */

body > main {
  margin: 20px 0;
  height: var(--section_size);
  display: flex;
}

body > main > section > div {
  height: 50%;
}
body > main > section > div:first-child {
  display: grid;
  grid-template-rows: 3fr 2fr 1.3fr;
  padding-top: 3.5em;
  gap: 5px;
}
body > main > section,
body > main > aside {
  width: 50%;
  position: relative;
}
body > main > section > div:first-child > h1 {
  text-transform: capitalize;
  font-size: 3.5em;
  height: fit-content;
}
body > main > section > div:first-child > div.buttons {
  display: flex;
width: 80%;
}
div.buttons > button {
  all: unset;
  width: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
div.buttons > button > svg{
height: 15%;
margin: 0 10px;
}
div.buttons > button > div{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}
div.buttons > button > div > svg{
  width: 100%;
  height: 60%;
}
 div.buttons > button:last-child {
  background-color: white;
  color: black;
}
#label{
  position: relative;
}
#label > div:first-child{
  position: absolute;
height: 20%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-25deg);
  background: black;
  border-radius: 8px;
  display: grid;
grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
}div:first-child .txt svg{
  height: 100%;
}
div:first-child .txt > div:first-child{
  border-radius: 50%;
  border: 1px solid var(--color-tomato);
  width: 30px;
  height: 30px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%,-50%);
}
div:first-child .txt p{
  text-transform: capitalize;
}
div:first-child .txt > div:last-child{
  color: white;
  font-size: 0.8em;
  align-content: center;
}
#label > div:first-child .txt{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}
#label > div:nth-child(2){
  position: absolute;
  height: 20%;
  width: 60%;
  top: 49%;
  left: 70%;
  transform: translate(-50%,-50%) rotate(-40deg);
  background: var(--color-tomato);
  text-transform: capitalize;
  color: black;
  border-radius: 8px;
  z-index: -1;
  font-weight: 500;
}
#label > div:nth-child(3){
    position: absolute;
  height: 20%;
  width: 50%;
 top: 78%;
  left: 75%;
    background: var(--color-tomato);
  text-transform: capitalize;
  color: black;
  transform: translate(-50%,-50%);
   border-radius: 8px;
  z-index: -2;
display: flex;
}
#label > div:nth-child(3) > div{
height: 100%;
  width: 100%;
  flex-direction: column;
}
#label > div:nth-child(3) .star{
  position: relative;
}
#label > div:nth-child(3) .star::before,
#label > div:nth-child(3) .star::after{
  content: '';
  position: absolute;
  left: 15%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: black;
}#label > div:nth-child(3) .star::after{
left: unset;
right: 15%;
}
#label > div:nth-child(3) .star svg{
  width: 100%;
  height: 100%;
}
.txt span,.txt h3{
  text-transform: capitalize;
  font-size: 0.8em;
}

.bg-elips.rings {
  width: 100%;
  left: unset;
  right: -25%;
  top: unset;
  top: -2%;
}
.bg-elips.i-bg {
  width: 65%;
  top: 50%;
  height: fit-content;
  left: 80%;
  transform: translateX(-80%);
}
.iphone-svg > .bg-elips.phone {
  width: 90%;
  height: fit-content;
  z-index: 0;
  left: unset;
  top: unset;
}
.iphone-svg > .bg-elips.phone.bottom {
  right: -40%;
  bottom: -15%;
}
.iphone-svg > .bg-elips.phone.middle {
  right: -20%;
  bottom: -5%;
}
.iphone-svg > .bg-elips.phone.top {
  right: 0%;
  bottom: 5%;
}
.iphone-svg > div {
  filter: unset;
}
/* features */

.container > div > section,
.container > div > aside {
  width: 50%;
  height: 100%;
}
aside > div.bg-elips {
  filter: unset;
}

.ring {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: -1;
  width: 110%;
  height: fit-content;
  transform: translate(-50%, -50%);
}
#features-svg > .phone {
  height: 70%;
  position: absolute;
  top: 0;
  width: 70%;
  left: 70%;
  transform: translate(-60%, 10%);
}
.content {
  display: grid;
  padding: 10% 1.5%;
  padding-top: 13%;
}
#features > .content > h1::before {
  content: "Features";
  position: absolute;
  top: -30%;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 500;
  color: var(--color-tomato);
}
#features > .content > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#features h1 {
  font-weight: 700;
  font-size: var(--main-heading);
}
#features h3 {
  font-size: 0.9em;
  font-weight: 550;
}
.headline {
  display: flex;
  gap: 10px;
  align-items: center;
}
.headline > svg {
  height: 20px;
}
#advantages-1 h1 {
  font-size: var(--main-heading);
}

#advantages-1 > .content > div svg,
#advantages-2 > .content > div svg {
  height: min(20px, 40px);
}
#advantages-1 > .content > div,
#advantages-2 > .content > div {
  justify-content: start;
  gap: 20px;
}
#advantages-1 > .content > div span,
#advantages-2 > .content > div h1 {
  font-size: 1.5em;
  font-weight: 500;
}
#advantages-1 h1::before {
  content: "advantages";
  position: absolute;
  top: -50%;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: 500;
  color: var(--color-tomato);
}
#advantages-1-svg > .phone,
#advantages-2-svg > .phone {
  height: 70%;
  position: absolute;
  top: 0;
  width: 70%;
  left: 70%;
  transform: translate(-60%, 10%);
}
#advantages-1 > .content {
  grid-template-rows: 2fr 1fr 3fr;
}

#advantages-1 > aside > .bg-elips,
#advantages-2 > aside > .bg-elips,
#testimonial > aside > .bg-elips {
  top: unset;
  bottom: 15%;
  left: 25%;
  height: 30%;
  width: 40%;
  filter: blur(25px);
}
#advantages-1 > aside > .bg-elips > div:last-child,
#advantages-2 > aside > .bg-elips > div:last-child,
#testimonial > aside > .bg-elips > div:last-child {
  transform: translate(-15%, -50%);
  background: #fde598;
  z-index: -2;
  position: relative;
}
#advantages-2 > aside > .bg-elips {
  left: unset;
  right: 15%;
  transform: rotate(180deg);
  bottom: 15%;
}
#advantages-2 > .content {
  height: fit-content;
  gap: 1em;
}
#testimonial-heading::before {
  content: "testimonial";
  text-transform: uppercase;
  top: -10%;
  left: 0;
  font-size: 0.6em;
}
#testimonial-heading {
  width: min(400px, 50vw);
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  text-align: center;
  font-size: 2em;
}
#testimonial h3 {
  font-size: 2em;
}
#testimonial > .content {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#testimonial-svg {
  display: grid;
  padding: 10% 1.5%;
  padding-top: 13%;
}
.images-overlay img {
  position: absolute;
  height: 10%;
}
.images-overlay img:nth-child(2) {
  left: 20%;
  bottom: 25%;
  transform: translate(-50%, -50%);
}
.images-overlay img:nth-child(3) {
  left: 20%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.images-overlay img:nth-child(4) {
  right: 20%;
  bottom: 20%;
  transform: translate(-50%, -50%);
}
.images-overlay img:nth-child(5) {
  right: 8%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.images-overlay img:nth-child(6) {
  left: 50%;
  top: 50%;
  height: 20%;
  transform: translate(-50%, -50%);
}
.images-overlay div:nth-child(7) {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-tomato);
  left: 62%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.images-overlay div:nth-child(7) > svg {
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#testimonial > aside .bg-elips {
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#faq {
  flex-direction: column;
  margin-bottom: 10em;
  height: unset;
}
#faq h3 {
  font-size: 1.6em;
}
#faq h1 {
  width: 45%;
  font-size: var(--main-heading);
  padding: 10px;
}
#faq h1::before {
  content: "faq";
  position: absolute;
  text-transform: uppercase;
  top: -30%;
  left: 10px;
  font-size: 0.6em;
  color: var(--color-tomato);
}
#faq > div {
  flex-grow: 2;
}

#qna-wrapper > div:nth-child(1),
#qna-wrapper > div:nth-child(4),
#qna-wrapper > div:nth-child(5) {
  background-color: var(--color-tomato);
  color: white;
}
#qna-wrapper {
  width: 100%;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr;
}
.qna {
  flex-direction: column;
  padding: 6% 6%;
  justify-content: space-around;
  flex-direction: column;
  padding: 6% 6%;
  justify-content: space-around;
  border-radius: 0.5em;
  margin: 2%;
}
/* mockup */
#mockup {
  background-color: black;
  height: 500px;
  position: relative;
  margin: 10em 0;
}
#mockup-text {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  color: white;
  border-radius: 5px;
  padding: 0 3%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#mockup-text h1 {
  font-size: var(--main-heading);
}
#mockup-text > button {
  width: 35%;
  height: 85%;
  justify-content: space-around;
  padding: 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
#mockup-text > button > div {
  width: 16%;
}
.mockup-bg-rings:first-child > svg {
  top: -10%;
  right: -12%;
  left: unset;
  bottom: unset;
}
#mockup > .bg-elips {
  top: unset;
  bottom: 25%;
  width: 15%;
  right: 0;
  rotate: 180deg;
}
#mockup .stars {
  position: absolute;
  width: 5%;
}
#mockup .stars:nth-child(3) {
  top: 20%;
  left: 65%;
  transform: translate(-50%, -50%);
}
#mockup .stars:nth-child(4) {
  transform: translate(-50%, -50%) rotate(50deg);
  bottom: 20%;
  left: 40%;
}
.mockup-bg-rings > svg {
  position: absolute;
  width: 30%;
  left: -8%;
  bottom: -24%;
  z-index: -1;
}

.mockup-bg-rings > svg:nth-child(3) {
  width: 25%;
}
.mockup-bg-rings > svg:nth-child(1) {
  width: 33%;
}
  #mockup-imgs img{
    height: 70%;
  }
#mockup-imgs {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45%;
}
#mockup-imgs img {
  position: absolute;
  height: max(22em, 15em);
}
#mockup-imgs img:nth-child(3) {
  right: 0;
  top: 5%;
  z-index: -1;
}
#mockup-imgs img:nth-child(2) {
  right: 0;
  top: 5%;
  z-index: 0;
}
#mockup-imgs img:nth-child(1) {
  right: 30%;
  top: unset;
  z-index: 1;
  bottom: 1em;
}
/* footer */

footer section {
  width: unset !important;
  height: fit-content !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer section > a {
  margin-bottom: 1.5em;
  font-weight: 400;
  width: fit-content;
}
footer section > h1 {
  margin-bottom: 1em;
}
#upper-footer {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
#upper-footer > section:nth-child(1) {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: start;
  grid-template-columns: 1fr;
  gap: 20%;
  height: 65%;
}
#upper-footer > section:nth-child(1) > div {
  justify-content: space-between;
}
#upper-footer svg {
  height: 20px;
}
#upper-footer > section > div:first-child > svg {
  width: 30%;
  height: 2em;
}
#upper-footer > section > div:first-child {
  justify-content: start;
}
section#newsletter input {
  all: unset;
  width: 45%;
  height: 80%;
  text-align: start;
  padding-left: 5px;
}
section#newsletter > form {
  height: 3.5em;
  margin: 15px auto;
}
form > button {
  height: 100%;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 5px;
  border-radius: unset;
  box-shadow: unset;
}

#lower-footer > span {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 10%;
  font-size: 0.9em;
  word-spacing: 0.2em;
}
#lower-footer {
  height: 123px;
}
#lower-footer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(129, 129, 129, 0.7) 20%,
    rgb(49, 49, 49) 50%,
    rgba(129, 129, 129, 1) 80%
  );
}

.btn-black:not(:hover),
.btn-white,
.btn-black {
  transition: all 300ms ease-in-out;
}
.btn-black:hover {
  background-color: rgb(249, 246, 255);
  color: black;
  cursor: pointer;
}
.btn-white:hover,
 div.buttons > button:last-child:hover{
  cursor: pointer;
    background-color:rgb(28, 28, 29);
  color: rgb(249, 246, 255);;
}
button:hover{
  cursor: pointer;
}

@media screen and (max-width:1185px) {
  body > main > section > div:first-child > h1{
    font-size: 3em;
  }
  .iphone-svg > .bg-elips.phone{
  width: 85%;
  }
  .iphone-svg > .bg-elips.phone.bottom{
 right: -30%;
  }
  .iphone-svg > .bg-elips.phone.middle{
    right: -10%;
  }
  .iphone-svg > .bg-elips.phone.top{
    right: 10%;
  }
  .bg-elips.rings{
    right: -15%;
  top: 5%;
  }
  #testimonial-heading{
    font-size:90%;
  }
  #label > div:nth-child(3){
    top: 76%;
  }
}
@media screen and (max-width:1020px){
  :root{
    --section_size: 500px;
  }
    body > main > section > div:first-child > h1{
    font-size: 2.5em;
  }
  p{
    font-size: 0.9em;
  }
    .iphone-svg > .bg-elips.phone.bottom{
right: -25%;
    bottom: -10%;
  }
  .iphone-svg > .bg-elips.phone.middle{
right: -5%;
    bottom: 0;
  }
  .iphone-svg > .bg-elips.phone.top{
   right: 15%;
    bottom: 10%;
  }
   .bg-elips.rings {
top: 2%;
    right: -15%;
  }
  body > main > section > div:first-child > div.buttons{
width: 65%;
font-size: 85%;
  }
  body > main > section > div:first-child{
    grid-template-rows: 3fr 2fr 1.7fr;
  }
  .txt{
    font-size: 90%;
  }
.ring{
  top: 50%;
  left: 55%;
}
#features > .content > h1::before{
  top: -40%;
}
#faq > div{
  font-size: 95%;
}div.buttons > button > div > svg{
  height: 50%;
}
} 
@media screen and (max-width:400px) {
  body > header{
    height: 2.5em;
  margin-top: 1.5em;
  }
  .container{
    width: 90vw;
  }
  .download-btn{
height: 70%;
    font-size: 50%;
    width: 60px;
  }
  .primary-links{
    flex-grow: 1;
    font-size: 60%;
    margin-right: 10px;
  }
  .links{
    margin-left: 5px;
    width: 80%;
  }
    :root {
      --main-heading: 2em;
    --section_size: 250px;
  }
  body > main {
  margin: 10px 0;
  }
  body > main > section > div:first-child{
    padding-top: 1.5em;
  }
  body > main > section, body > main > aside{
    font-size: 60%;
  }
   body > main > section > div:first-child > h1 {
    font-size: 1.8em;
  }
  body > main > section > div:first-child > div.buttons {
    width: 100%;
    font-size: 75%;
  }
  div.buttons > button > div {
  height: 10px;
  width: 10px;
  }
div:first-child .txt > div:first-child{
  width: 10px;
  height: 10px;
}
.txt{
  font-size: 70%;
}
div:first-child .txt > div:first-child{
  border: 0.5px solid var(--color-tomato);
}
#label > div:nth-child(2){
  padding-left: 5px;
}
  #label > div:nth-child(3) {
    top: 73%;
  }
 .bg-elips.rings {
   top: -10%;
    right: -15%;
  }
  .iphone-svg > .bg-elips.phone {
    width: 75%;
  }
    .iphone-svg > .bg-elips.phone.bottom{
  bottom: 20%;
  }
  .iphone-svg > .bg-elips.phone.middle{
bottom: 25%;
  }
  .iphone-svg > .bg-elips.phone.top{
bottom: 30%;
  }
.bg-elips.i-bg {
  width: 50%;
  top: 40%;
}
.container > div > section, .container > div > aside{
  font-size: 50%;
}
.headline > svg {
  height: 10px;
}
 #testimonial-heading {
    font-size: 85%;
  }
  .images-overlay div:nth-child(7){
    height: 15px;
  width: 15px;
  }
  .images-overlay div:nth-child(7) > svg {
  height: 5px;
  }
  #faq,
  #mockup-text{
    font-size: 50%;
  }
  #mockup{
    margin: 3em 0;
    height: 250px;
  }
  #mockup-imgs img{
    height: 70%;
  }
  #mockup-text > button{
    font-size: 60%;
  }
  #upper-footer{
    font-size: 80%;
  }
  #upper-footer svg{
    height:10px
  }
  section#newsletter > form{
    width: 130px;
  }
 form > button {
    font-size: 1em;
    width: 30%;
  }
  section#newsletter input{
    width: 60%;
  }
  #lower-footer{
    height: 50px;
    font-size: 50%;
  }
}
@media screen and (max-width:900px) {
  :root{
    --main-heading: 2em;
  }
  body > main > section > div:first-child > h1 {
    font-size: 2em;
  }
  body > main > section > div:first-child > div.buttons {
    font-size: 65%;
  }
    body > main > section > div:first-child {
    grid-template-rows: 3fr 2fr 1.3fr;
  }
  div:first-child .txt > div:first-child{
    width: 20px;
  height: 20px;
  }
    .txt {
    font-size: 80%;
  }
   #faq > div {
    font-size: 85%;
  }
  #faq{
    margin-bottom: 5em;
  }
  #mockup{
    margin: unset;
      margin-bottom: 5em;
  }
    #mockup-text > button{
    font-size: 60%;
  }
  #upper-footer{
 font-size: 90%;
  }
  #upper-footer svg{
    height:10px
  }
  section#newsletter > form{
    width: 130px;
    display: flex;
    flex-direction: column;
  }
 form > button {
    font-size: 1em;
    width: unset;
  }
  section#newsletter input {
    width: unset;
  }
  #lower-footer{
height: 100px;
    font-size: 90%;
  }
  section#newsletter > form{
    height: 4.5em
  }
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-200px);
  transition: all 600ms ease-in-out;
}
.show{
    opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}